@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 211 67% 33%;
    --primary-foreground: 0 0% 100%;
    --secondary: 211 53% 63%;
    --secondary-foreground: 0 0% 100%;
    --accent: 211 53% 63%;
    --accent-foreground: 0 0% 100%;
    --muted: 211 30% 95%;
    --muted-foreground: 211 20% 50%;
    --border: 211 30% 90%;
    --sidebar-bg: 211 67% 33%;
    --sidebar-text: 0 0% 100%;
  }
}
